@model List<SSP.PayeModel.AssetTaxPayerDetailsApi>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">List of Employees for CBS</h5>
        <div class="float-right">
            <button type="button" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> Bulk Upload</button>
            <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i> Add Employee</button>
        </div>
    </div>
    <div class="card-body">
        <div class="form-row mb-3">
            <div class="col-md-6">
                <label for="search-input">Business Name/ID</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="txtsearch" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-primary" id="search-btn" type="button"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div id="table">
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary float-right">Forward Schedule</button>
    </div>
</div>

<script src="/NewTemplate/plugins/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#search-btn").click(function () {
            console.log("i got here");
            alert("i reach here");
            var searchTerm = $("#txtsearch").val();
            $.ajax({
                type: "POST",
                url: "/Index",
                data: {
                    searchTerm: searchTerm
                },
                success: function (response) {
                    console.log("ok");
                    // handle the response data
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error");
                    // handle the error
                }
            });
        });
    });

</script>